<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delete Board</title>
    <link rel="stylesheet" href="/css/deleteForm.css">
</head>
<body>
<a href="/" id="logo">Chanslog</a><br>

<div class="box">
    <h1>게시글 삭제</h1>


    <form th:action="@{/deleteForm}" method="post">
        <input type="hidden" th:name="id" th:value="${board.id}"/>

        <p>정말 삭제하시겠습니까?</p>

        <div>
        <button type="submit">삭제</button>
        <a href="/boards/board/${board.id}">취소</a>
        </div>
    </form>



</div>



</body>
</html>