body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: #333333;
}

#logo {
    text-decoration: none;
    font-size: 24px;
    color: #007BFF;
}

.auth {
    text-align: right;
    margin-top: 20px;
}

.auth a {
    text-decoration: none;
    color: #007BFF;
    margin-left: 15px;
}

.auth a:hover {
    color: #0056b3;
}

.post-list {
    margin: 20px 0;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 15px);
    overflow: hidden;
    transition: transform 0.2s;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.02);
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #333333;
}

.card-header h3 {
    color: #0056b3;
    margin: 0;
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin: 5px 0;
    color: #555;
}

.card-body a {
    color: #555;
    border: 1px solid #007BFF;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.card-body a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0;
}

.pagination ul {
    display: flex;
    list-style-type: none;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 3px;
    display: inline-block;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
}
