<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<a href="/" id="logo">Chanslog</a><br>

<div class="auth" sec:authorize="isAnonymous()">
    <a href="/loginform">로그인</a>
</div>

<div class="auth" sec:authorize="isAuthenticated()">
    <p>안녕하세요. <span sec:authentication="name"></span>님^^ </p>
    <a href="/mypage">내 정보보기</a><br>
    <a href="/{username}">내 블로그</a><br>
    <a href="/logout">로그아웃</a>
</div>

<!--TODO-->
<!--<div>-->
<!--    <p>최신, 인기 게시글 보여주기</p>-->
<!--</div>-->




</body>
</html>