<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>개인 블로그 - [[${username}]]</title>
    <link rel="stylesheet" type="text/css" href="/css/userBlog.css">
</head>
<body onload="init()">
<a href="/" id="logo">Chanslog</a><br>

<div>
    <h1 th:text="${username} + '의 블로그'"></h1>

    <div sec:authorize="isAuthenticated()">
        <a href="/boards/postForm">글쓰기</a><br>
    </div>

    <div class="post-list">
        <h2>게시글 목록</h2>

        <div class="card-container">

            <div class="card" th:each="board : ${boards}">

                <a class="link" th:href="@{/boards/board/{id}(id=${board.id})}">

                    <div class="card-header">
                        <h3 th:text="${board.title}"></h3>
                    </div>

                    <div class="card-body">
                        <p th:text="'작성자: ' + ${board.author.username}"></p>
                        <p th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></p>
                    </div>

                </a>

            </div>
        </div>
    </div>

    <div th:if="${boards.totalPages > 1}" class="pagination">
        <ul>
            <li th:if="${boards.hasPrevious()}">
                <a th:href="@{/userBlog/{username}(username=${user.username}, page=${boards.number})}" th:text="'이전'"></a>
            </li>

            <li th:each="i : ${#numbers.sequence(1, boards.totalPages)}">
                <a th:href="@{/userBlog/{username}(username=${user.username}, page=${i})}" th:text="${i}"
                   th:class="${i == boards.number + 1} ? 'active' : ''"></a>
            </li>

            <li th:if="${boards.hasNext()}">
                <a th:href="@{/userBlog/{username}(username=${user.username}, page=${boards.number + 2})}" th:text="'다음'"></a>
            </li>
        </ul>
    </div>
</div>



<script>
    function init() {
        const successMessage = '[[${success}]]';
        const errorMessage = '[[${error}]]';

        if (successMessage) {
            alert(successMessage);
        }

        if (errorMessage) {
            alert(errorMessage);
        }
    }
</script>


</body>
</html>